/* 1280, 1024, 768 */
.footer__link {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-family: "Inter", "Arial ", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
  text-decoration-line: none;
  color: #FFF;
  transition: 0.3s ease-in;
}

.footer__link:hover {
  opacity: 0.8;
}


@media screen and (max-width: 480px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}
