.place__paragraph {
  margin: 0 0 26px 0;
  padding: 0;
  font-family: "Inter", "Arial ", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29.34px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26.08px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 480px) {
  .place__paragraph {
    max-width: calc(100% - 2*16px);
    padding-left: 16px;
  }
}
