.cover__background {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  width: 100%;
  max-width: 1184px;
  min-height: 740px;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
}

.cover__background::before {
  content: '';
  display: block;
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 2s ease-in;
}

.cover__background:hover::before {
  opacity: 0.8;
}

/* 1024 */
@media screen and (max-width: 1024px) {
  .cover__background {
  min-height: 640px;
  }
}

/* 768 */
@media screen and (max-width: 768px) {
  .cover__background {
  min-height: 480px;
  }
}


@media screen and (max-width: 320px) {
  .cover__background {
  min-height: 200px;
  justify-content: flex-start;
  }
}
