/* 1280 */
.cover__title {
  margin: 0 auto 32px;
  padding: 0;
  max-width: 560px;
  font-family: "Inter", "Arial ", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  display: flex;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 505px) {
  .cover__title {
    font-size: 12vw;
  }
}

@media screen and (max-width: 480px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 109%;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    margin-top: 33px;
    margin-bottom: 16px;
  }
}
