/* 1280, 1024 */
.footer {
  margin: 0 auto;
  padding: 0 0 24px;
  width: calc(100% - 2*48px);
  max-width: 1184px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 2*24px);
  }
}

@media screen and (max-width: 480px) {
  .footer {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 16px;
  }
}
